.list-base {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.list-template {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* width: 100%; */
  width: 30%;
	padding-top: 50px;
	/* padding-bottom: 40px; */
}

.friend-link {
  /* width: 270px; */
  margin-top: 50px;
}
