.reply-button {
  background-color: #D0104C;
  color: white;
  border: none;
  border-radius: 2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
  margin-top:10px;
}
.reply-button:hover {
  background: #CB4042;
}

.reply-textarea {
  right: 10px;
}

.reply-container {
   display: flex;
   flex-direction: column;
}
