.login-container {
  padding: 30px;
  border-radius: 5px;
  background: white;
  opacity: 1;
  position: relative;
}

.login-container-pc {
  width: 500px;
}

.login-container-phone {
  width: 90%;
}
.login-label {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.login-icon {
  width: 50px;
  height: 50px;
}

.login-input {
  margin-bottom: 10px;
}

.login-choose {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 1px solid #d2d5d9;
}
.login-choose:hover {
  cursor: pointer;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}


.login-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: white;
  border: none;
  width: 20px;
  height: 20px;
}

.login-close-img {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  width: 20px;
  height: 20px;
}
